#claire input.search {
  width: 100%;
}

#claire ul > li {
  background: rgba(0,0,0, 128);
  border: transparent;
  border-radius: 4px;

  display: inline-block;
  margin: 2px 4px;
  padding: 2px 4px;
}

#claire ul > li.selected {
  background: rgba(32, 160, 192, 128);
}
