{:+ {:app {"ctrl-x ctrl-f" [(:editor.codemirror.command "claire.show")]}

     :claire {"ctrl-g" [(:editor.codemirror.command "claire.show")]
              "tab" [(:editor.codemirror.command "claire.smart-complete")]
              "backspace" [(:editor.codemirror.command "claire.smart-delete")]
              "enter" [(:editor.codemirror.command "claire.open-match")
                       (:editor.codemirror.command "claire.show")]
              "up" [(:editor.codemirror.command "claire.iterate" "reverse")]
              "down" [(:editor.codemirror.command "claire.iterate")]}
     }
}
